@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
body {
  font-family: "Nunito", sans-serif;
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #111111;

  --primary: #0d57b6;
  --primary-foreground: #ffffff;

  --secondary: #1651a9;
  --secondary-foreground: #ffffff;

  --accent: #222222;
  --accent-foreground: #000000;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #0d57b6;
}



.dark {
  --background: #0b0b0b;
  --foreground: #ffffff;

  --primary: #0d57b6;
  --primary-foreground: #ffffff;

  --secondary: #1651a9;
  --secondary-foreground: #ffffff;

  --accent: #222222;
  --accent-foreground: #ffffff;

  --border: #262626;
  --input: #262626;
  --ring: #0d57b6;
}



@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: var(--radius);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
